---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 79.0.0
    helm:
      releaseName: kube-prometheus-stack
      values: |
        grafana:
          additionalDataSources:
            - name: loki
              type: loki
              url: http://loki-gateway.loki.svc.cluster.local
            - name: tempo
              type: tempo
              url: http://tempo-query-frontend.tempo.svc.cluster.local:3200
              access: proxy
              jsonData:
                tracesToLogsV2:
                  # Field with an internal link pointing to a logs data source in Grafana.
                  # datasourceUid value must match the uid value of the logs data source.
                  datasourceUid: 'loki'
                  spanStartTimeShift: '-1h'
                  spanEndTimeShift: '1h'
                  tags: ['job', 'instance', 'pod', 'namespace']
                  filterByTraceID: false
                  filterBySpanID: false
                  customQuery: true
                  query: 'method="$${__span.tags.method}"'
    install:
      crds: Create
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-prometheus-stack
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - SkipDryRunOnMissingResource=true
      - ServerSideApply=true
